<!DOCTYPE html>
<html>
<head>
    <title>Serk4ng</title>
</head>
<style>

    h1 {
        display: block;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 8em;
        text-align: center;
        color: #000;
    }
       p {
        display: block;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 3em;
        text-align: center;
        color: #000;
    }

    .box {
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(left, #A3F7BF 0%, #29A19C 33%, #435055 66%, #27323A 100%);
        background-size: 700px;
        background-repeat: repeat;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        background-clip: text;
        -webkit-animation: gradient-move 1s linear infinite;
        animation: gradient-move 1.5s linear infinite;
    }

        .box:hover {
            -webkit-animation: gradient-move 0.3s linear infinite;
        }

    @@-webkit-keyframes gradient-move {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 700px 0;
        }
    }

</style>
<body>

    <div class="box">
        <h1>Bitstamp API</h1>
        <p>👨‍💻 Serkan Gözlükaya 👨‍💻</p>
    </div>

</body>
</html>